# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.db

# Папки збірки (Build directories)
Debug/
Release/
x64/
x86/
bin/
obj/

# Скомпільовані файли
*.exe
*.obj
*.ilk
*.pdb
*.idb
*.exp
*.lib

# Операційна система
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store